<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glacier.modules.sys.mapper.DeptMapper">

    <sql id="dept_columns">
        a.id, a.name, a.code, a.level, a.type, a.status, a.order_num, a.parent_id,
        a.create_by, a.create_date, a.update_by, a.update_date, a.del_flag
    </sql>

    <sql id="roleJoins">
        inner join sys_role_dept b on a.id=b.dept_id
    </sql>

    <select id="findDeptsByRoleId" resultType="com.glacier.modules.sys.entity.pojo.Dept">
        select
        <include refid="dept_columns"/>
        from sys_dept a
        <include refid="roleJoins"/>
        <where>
            a.del_flag='0'
            and b.role_id = #{roleId}
        </where>
    </select>

    <select id="findDeptsByUserId" resultType="com.glacier.modules.sys.entity.pojo.Dept">
        select
        <include refid="dept_columns"/>
        from sys_dept a
        <include refid="roleJoins"/>
        inner join t_user_role c on c.role_id=b.role_id
        <where>
            a.del_flag='0'
            and exists (
            select 1 from t_role r where r.del_flag='0' and r.id=b.role_id and r.status = '1'
            )
            and c.user_id = #{userId}
        </where>
    </select>
</mapper>
